


#hero-simple {
min-height: 600px;
background-image: url(/assets/hero.jpg);
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}


h1 {
    color: white
    
    

}



p {
color: white

}


#hero-simple2 {
    margin-bottom: 20px;
    min-height: 600px;
  background-image: url(/assets/Placement\ Area\ [ASSEThero][SIZEDefault][STATEDEFAULT].jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center
}
    

#nummer2 {
    
font-size: 5,8rem
}


#nummer3 {
    font-size:1,6rem;
    
   
}

#btn {
color: #34FFC8;
    padding: 13px 74px 
    
}
    
